 body {
     background-color: #7ad4e3;
 }

 #wrapper {
     margin: 200px auto;
     width: 300px;
     padding: 20px 11px 30px 0px;
     background-color: yellow;
 }

 input {
     border: none;
     padding: 5px 20px;
     border-radius: 5px;
 }

 input::placeholder {
     text-align: center;
     font-style: italic;
 }

 input {
     display: block;
     margin-top: 10px;
     margin-left: 43px
 }

 form h1 {
     text-align: center;
 }

 input[type^="check"] {
     display: inline-block;
 }

 input[type="submit"] {
     background-color: red;
     margin-top: -38px;
     padding-right: 5px;
     padding-left: 4px;
     font-size: 14px;
     margin-left: 185px;
 }

 p.error {
     margin-left: 55px;
     font-size: 14px;
     font-style: italic;
     color: red;
 }

 #wrapper>form>a {
     background-color: black;
     padding: 5px 3px;
     font-size: 14px;
     border-radius: 5px;
     color: #fff;
     text-decoration: none;
     margin-top: 48px;
     padding-right: 5px;
     padding-left: 4px;
     display: inline-block;
     margin-left: 40px;
     margin-bottom: 15px;
 }